<hr/>
<div class="grid">
    @foreach (var squareRow in squares)
    {
        <div class="square-row row">
            @foreach(var square in squareRow)
            {
                <Square Status="@square.Status" Ship="@square.Ship" />
            }
        </div>
    }
</div>

@functions {
    [Parameter]
    private GridSquare[][] squares { get; set; }

}