<div class="pacmanSquare @IsPacman()"></div>

@functions {
    [Parameter]
    private int X { get; set; }

    [Parameter]
    private int Y { get; set; }

    [Parameter]
    private int CurrentX { get; set; }
    
    [Parameter]
    private int CurrentY { get; set; }

    private string Pacman = "";

    string IsPacman()
    {
        if (X == CurrentX && Y == CurrentY)
        {
            return "pacman";
        }
        else
        {
            return "";
        }
    }
}