<div>
    @foreach (var ship in Fleet.Ships)
    {
        <div class="ship-picker @(GetSelectedClass(ship))" onclick="@(() => OnShipSelected(ship))">
            <span class="drawing">@GetShipDrawing(ship)</span> @ship.ShipClass.ToString()
        </div>
    }
</div>

@functions {
    [Parameter] private Fleet Fleet { get; set; }
    [Parameter] private ShipClass SelectedShipClass { get; set; }
    [Parameter] private Action<Ship> SelectedShipChanged { get; set; }

    private string GetShipDrawing(Ship ship)
    {
        var length = ShipClassSize.ShipSize[ship.ShipClass];
        var middle = String.Empty.PadRight(length - 2, '≡');
        return $"⋖{middle}⋗".PadRight(5);
    }

    private void OnShipSelected(Ship ship)
    {
        if (SelectedShipClass == ship.ShipClass)
        {
            SelectedShipClass = ShipClass.Unknown;
            SelectedShipChanged?.Invoke(null);
        } else
        {
            SelectedShipClass = ship.ShipClass;
            SelectedShipChanged?.Invoke(ship);
        }
    }

    private string GetSelectedClass(Ship ship)
    {
        return SelectedShipClass == ship.ShipClass ? "selected" : "";
    }
}