<div class="square @(Status.ToString().ToLower()) col-xs-4" >
    <div>
        @if (@Ship != null)
        {
            <div class="ship-in-square">≡</div>
        }
        @if (@Clickable == true)
        {
            <div class="opponent-square" onclick="@Fire"></div>
        }
    </div>
</div>

@functions {
    [Parameter]
    private SquareStatus Status { get; set; }
    
    [Parameter]
    private Battleship.Ship Ship { get; set; }

    [Parameter]
    private bool Clickable {get; set;}

    [Parameter]
    private Action<Coordinate> clicked {get; set;}

    [Parameter]
    private Coordinate Coordinate {get; set;}

    public void Fire ()
    {
        clicked?.Invoke(Coordinate);
    }
}
