@page "/gameboard"

@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@inject Game Game

<h1>Battleship</h1>
<div class="row">
    <div class="col-xs-6">
        <Grid Player="@Game.Players.Me" />
    </div>
    <div class="col-xs-6">
        <Grid Player="@Game.Players.Opponent" />
    </div>
</div>


@functions {
    protected override void OnInit()
    {
        RefreshType();
        UriHelper.OnLocationChanged += OnLocationChanges;
    }

    private void OnLocationChanges(object sender, string location) => RefreshType();

    private void RefreshType()
    {
        StateHasChanged();
    }
}