@page "/gameboard"

<h1>Battleship</h1>
<Grid squares="@squares" />
@functions {
    public Ship[] Fleet {get; set;}
    private GridSquare[][] squares { get{
        return new []{
            new []{
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Hit, Ship = new Ship(ShipClass.Destroyer)},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown}
            },
            new []{
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown}
            },
            new []{
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown}
            },
            new []{
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown}
            },
            new []{
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown}
            },
            new []{
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown}
            },
            new []{
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown}
            },
            new []{
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown}
            },
            new []{
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown}
            },
            new []{
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown}
            },
            new []{
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown},
                new GridSquare {Status = SquareStatus.Unknown}
            }
        };
    }}
}