@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<Square Status="SquareStatus.Unknown" />
<Square Status="SquareStatus.Hit" />
<Square Status="SquareStatus.Miss" />

<SurveyPrompt Title="How is Blazor working for you?" />
