@page "/pacman"

@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@inject Pacman Pacman
@inject PacmanBoard PacmanBoard

<h1> Pacman </h1>

<div class="pacmanSpacingAction" >
    @for (var i = PacmanBoard.MaxRows; i > 0; i--)
    {
        <div class="row">
            @for (var j = 1; j <= PacmanBoard.MaxColumns; j++)
            {
                <PacmanSquare X=j Y=i CurrentX=@Pacman.XPosition CurrentY=@Pacman.YPosition />
            }
        </div>
    }
    <div id="controlPanel" class="pacmanSpacingAction" style="margin-left: 25%">
        <div style="margin-left: 50px">
            <button onclick="@Pacman.MoveUp">Move Up</button>
        </div>
        <div>
            <button onclick="@Pacman.MoveLeft">Move Left</button>
            <button onclick="@Pacman.MoveRight">Move Right</button>
        </div>
        <div style="margin-left: 43px">
            <button onclick="@Pacman.MoveDown">Move Down</button>
        </div>
    </div>
</div>