@page "/pacman"

<h1> Pacman </h1>

<div class="row">
    <div class="column">
        <Square Status="SquareStatus.Unknown" />
        <Square Status="SquareStatus.Unknown" />
    </div>
    <div class="column">
        <Square Status="SquareStatus.Hit" />
    </div>
    <div class="column">
        <Square Status="SquareStatus.Unknown" />
    </div>
</div>