@page "/pacman"

<h1> Pacman </h1>

<div style="margin: 100px 0 0 100px" >
    <div class="row">
        <PacmanSquare X=1 Y=2 CurrentX=@currentX CurrentY=@currentY />
        <PacmanSquare X=2 Y=2 CurrentX=@currentX CurrentY=@currentY />
        <PacmanSquare X=3 Y=2 CurrentX=@currentX CurrentY=@currentY />
        <PacmanSquare X=4 Y=2 CurrentX=@currentX CurrentY=@currentY />
        <PacmanSquare X=5 Y=2 CurrentX=@currentX CurrentY=@currentY />
    </div>
    <div class="row">
        <PacmanSquare X=1 Y=1 CurrentX=@currentX CurrentY=@currentY />
        <PacmanSquare X=2 Y=1 CurrentX=@currentX CurrentY=@currentY Wall=true />
        <PacmanSquare X=3 Y=1 CurrentX=@currentX CurrentY=@currentY />
        <PacmanSquare X=4 Y=1 CurrentX=@currentX CurrentY=@currentY />
        <PacmanSquare X=5 Y=1 CurrentX=@currentX CurrentY=@currentY />
    </div>
</div>
<div style="margin: 100px 0 0 100px">
    <div style="margin-left: 50px">
        <button onclick="@MoveUp">Move Up</button>
    </div>
    <div>
        <button onclick="@MoveLeft">Move Left</button>
        <button onclick="@MoveRight">Move Right</button>
    </div>
    <div style="margin-left: 43px">
        <button onclick="@MoveDown">Move Down</button>
    </div>
</div>

@functions {
    private int currentX = 3;
    private int currentY = 1;

    void MoveLeft()
    {
        if (currentX - 1 == 2 && currentY == 1)
        {
            return;
        }

        if (currentX > 1)
        {
            currentX--;
        }
        else
        {
            currentX = 5;
        }
    }

    void MoveRight()
    {
        if (currentX + 1 == 2 && currentY == 1)
        {
            return;
        }

        if (currentX < 5)
        {
            currentX++;
        }
        else
        {
            currentX = 1;
        }
    }

    void MoveUp()
    {
        if (currentY + 1 == 1 && currentX == 2)
        {
            return;
        }

        if (currentY < 2)
        {
            currentY++;
        }
        else
        {
            currentY = 1;
        }
    }

    void MoveDown()
    {
        if (currentY - 1 == 1 && currentX == 2)
        {
            return;
        }

        if (currentY > 1)
        {
            currentY--;
        }
        else
        {
            currentY = 2;
        }
    }
}