<div class="pacmanSquare @IsPacman()"></div>

@functions {
    [Parameter]
    private int X { get; set; }

    [Parameter]
    private int Y { get; set; }

    [Parameter]
    private int CurrentX { get; set; }
    
    [Parameter]
    private int CurrentY { get; set; }

    [Parameter]
    private bool Wall { get; set; }

    private string Pacman = "";

    string IsPacman()
    {
        if (Wall)
        {
            return "wall";
        }

        if (X == CurrentX && Y == CurrentY)
        {
            return "pacman";
        }
        
        return "";
    }
}